<head>
    <style type="text/css">
        #TextArea1 {
            text-align: center;
            height: 107px;
            width: 1121px;
        }
        .auto-style3 {
            text-align: center;
            height: 150px;
            width:250px;
        }
        .auto-style4 {
            text-align: center;
            width: 126px;
            height: 83px;
        }
        .auto-style5 {
            text-align: center;
            height: 83px;
        }
        .auto-style6 {
            text-align: center;
            width: 126px;
            height: 85px;
        }
        .auto-style7 {
            height: 85px;
        }
        .tblVM{
            text-align: center;
        }
        .classVMDisplay{
            width: 100%;
            height: 100%;
            text-align:center;
        }
        .auto-style8 {
            text-align: center;
            width: 429px;
        }
        .auto-style14 {
            text-align: center;
            height: 83px;
            width: 102px;
        }
        .auto-style15 {
            text-align: center;
            height: 85px;
            width: 102px;
        }
        .auto-style17 {
            text-align: center;
            width: 50px;
            height: 32px;
        }
        .auto-style18 {
            text-align: center;
            height: 50px;
        }
        .auto-style20 {
            text-align: center;
            width: 185px;
            height: 45px;
        }

        .auto-style21 {
            text-align: center;
            height: 40px;
        }

    </style>
    <script type="text/javascript">
        function isNumberKey(evt)
        {
                  var charCode = (evt.which) ? evt.which : event.keyCode;
                  if (charCode != 46 && charCode > 31 
                    && (charCode < 48 || charCode > 57))
                     return false;

                  return true;
        }
</script>
</head>
@model VendingMachineApp.Models.VendingMachineLogic

@{
    ViewBag.Title = "VendingMachineDisplayView";
}
<form action="/VendingMachine/passVMValues" method="post">
<table class="auto-style8">
    <tr>
        <td class="auto-style3" colspan="8">
<h2>VendingMachine</h2>

        </td>
    </tr>
    <tr>
        <td class="auto-style3" colspan="8">
            <textarea name="txtVMDisplay" readonly ="readonly" class="classVMDisplay">@ViewBag.DisplayMessage</textarea></td>
    </tr>
    <tr>
        <td class="auto-style21" colspan="8">Please input product quantity</td>
    </tr>
    <tr>
        <td class="auto-style4">Cola</td>
        <td class="auto-style5">
            <input name="txtColaQnty" type="text" class="auto-style17" maxlength="1" value ="@ViewBag.Product1Count" onkeypress ="return isNumberKey(event)"/></td>
        <td class="auto-style4">Chips</td>
        <td class="auto-style5">
            <input name="txtChipsQnty" type="text" class="auto-style17" maxlength="1" value ="@ViewBag.Product2Count" onkeypress="return isNumberKey(event)" /></td>
        <td class="auto-style4">Candy</td>
        <td class="auto-style5">
            <input name="txtCandyQnty" type="text" class="auto-style17" maxlength="1" value ="@ViewBag.Product3Count" onkeypress="return isNumberKey(event)" /></td>
        <td class="auto-style4">&nbsp;</td>
    </tr>
    <tr>
        <td class="auto-style21" colspan="8">Please input coins</td>
    </tr>
    <tr>
        <td class="auto-style6">Quarters</td>
        <td class="auto-style7">
            <input name="txtNoOfQuarters" type="text" class="auto-style17" maxlength="2" value ="@ViewBag.QuartersCount" onkeypress="return isNumberKey(event)" /></td>
        <td class="auto-style6">Dimes</td>
        <td class="auto-style7">
            <input name="txtNoOfDimes" type="text" class="auto-style17" maxlength="2" value ="@ViewBag.DimesCount" onkeypress="return isNumberKey(event)" /></td>
        <td class="auto-style6">Nickels</td>
        <td class="auto-style7">
            <input name="txtNoOfNickels" type="text" class="auto-style17" maxlength="2" value ="@ViewBag.NickelsCount" onkeypress="return isNumberKey(event)" /></td>
        <td class="auto-style6">Pennies</td>
        <td class="auto-style15">
            <input name="txtNoOfPennies" type="text" class="auto-style17" maxlength="2" value ="0" onkeypress="return isNumberKey(event)" /></td>
    </tr>
    <tr>
        <td class="auto-style21" colspan="8">Cash Remaining in Vending Machine</td>
    </tr>
    <tr><td class="auto-style6">Quarters</td>
        <td class="auto-style14">
            <input name="txtQuartersinVM" type="text" readonly ="readonly"  class="auto-style17"  value ="@ViewBag.QuartersInVM"/></td>
        <td class="auto-style6">Dimes</td>
        <td class="auto-style14">
            <input name="txtDimesinVM" type="text" readonly ="readonly"  class="auto-style17"  value ="@ViewBag.DimesInVM"/></td>
        <td class="auto-style6">Nickels</td>
        <td class="auto-style14">
            <input name="txtNickelsinVM" type="text" readonly ="readonly"  class="auto-style17"  value ="@ViewBag.NickelsInVM"/></td>
    </tr>
    <tr>
        <td class="auto-style18" colspan="4">
            <input name="btnRefund" class="auto-style20" type="reset" value="Cancel Transaction" /></td>
        <td class="auto-style18" colspan="4">
            <input name="btnSubmit" class="auto-style20" type="submit" value="Submit Transaction" /></td>
    </tr>
</table>
    </form>



